<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<nav>
    <app-header></app-header>
</nav>

<section>
    <h1 class="text-font" style="font-size: 60px;">
        TigerPAWS
    </h1>

    <div class=login-box>
        <div class="login" style="color: rgb(0, 0, 0)">
            <form id="login" method="get" action="login.php">
                <label class="text-font"><b>Username
                    </b>
                </label>
                <input type="text" name="Uname" id="Uname" placeholder="Username">
                <br><br>
                <label class="text-font"><b>Password
                    </b>
                </label>
                <input type="Password" name="Pass" id="Pass" placeholder="Password">
                <br><br>
                <input type="button" name="log" id="log" value="Log In Here">
                <br><br>
            </form>
        </div>
    </div>

</section>

<footer>
    <app-footer></app-footer>
</footer>
